<ion-modal-view >
    <ion-header-bar class="bar bar-header bar-calm">
        <h1 class="title">select action</h1>
        <button class="button button-clear button-primary" ng-click="changed()">Cancel</button>
    </ion-header-bar>
    <ion-content >
        <ion-radio ng-repeat="item in data" ng-value='item.value' ng-model="dataa.color" ng-change="changeTo(item.value)" >
            {{ item.option }}
        </ion-radio>
        <h4>Note:</h4>
        <label class="item item-input pad">
            <input type='text' ng-model="dataa.note" id='textF' placeholder='any special note??'>
        </label>

    </ion-content>
</ion-modal-view>
